__pycache__/
.env
!reports/.gitkeep
reports/*
!logs/.gitkeep
logs/*
.coverage
dist/*
!htmlcov/.gitkeep
htmlcov/*
!bas_release/.gitkeep
bas_release/*
/pybas_automation.svg
/.mypy_cache/
/.pytest_cache/
/coverage/
